In [16]:
import pandas as pd
import os
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
df=pd.read_pickle('files/table2016.pkl')

In [18]:
df.head()

,year,state,county,GeoFips,candidate,party,candidatevotes,totalvotes,num_jobs,Farm_income_thousands,Income/Capita,population,avg_sal,labor_Force,Employed,Unemployed,Unemployment_Rate
0,2016,Alabama,Autauga,1001.0,Hillary Clinton,democrat,5936.0,24973,17445.0,3073.0,39509.0,55278.0,36966.0,25966.0,24645.0,1321.0,5.1
1,2016,Alabama,Autauga,1001.0,Donald Trump,republican,18172.0,24973,17445.0,3073.0,39509.0,55278.0,36966.0,25966.0,24645.0,1321.0,5.1
2,2016,Alabama,Baldwin,1003.0,Hillary Clinton,democrat,18458.0,95215,107855.0,15316.0,43004.0,207509.0,36078.0,90670.0,85839.0,4831.0,5.3
3,2016,Alabama,Baldwin,1003.0,Donald Trump,republican,72883.0,95215,107855.0,15316.0,43004.0,207509.0,36078.0,90670.0,85839.0,4831.0,5.3
4,2016,Alabama,Barbour,1005.0,Hillary Clinton,democrat,4871.0,10469,11633.0,28166.0,31750.0,25774.0,38418.0,8417.0,7717.0,700.0,8.3

In [19]:
dfd=df[df['party']=='democrat']

In [20]:
dfd.describe()

,year,GeoFips,candidatevotes,totalvotes,num_jobs,Farm_income_thousands,Income/Capita,population,avg_sal,labor_Force,Employed,Unemployed,Unemployment_Rate
count,3046.0,3046.000000,3.046000e+03,3.046000e+03,3.046000e+03,3.046000e+03,3046.000000,3.046000e+03,3046.000000,3.046000e+03,3.046000e+03,3046.000000,3046.000000
mean,2016.0,30339.155614,2.088734e+04,4.345580e+04,6.159802e+04,2.233958e+04,40754.464215,1.031105e+05,42977.388707,5.057272e+04,4.810696e+04,2465.755417,5.206533
std,0.0,14831.273092,8.031375e+04,1.253667e+05,2.193165e+05,8.603888e+04,11160.232729,3.318148e+05,11043.247678,1.654163e+05,1.572153e+05,8354.453624,1.822384
min,2016.0,1001.000000,4.000000e+00,6.500000e+01,9.800000e+01,-7.229900e+04,17812.000000,1.150000e+02,4519.000000,8.600000e+01,8.200000e+01,4.000000,1.700000
25%,2016.0,19023.500000,1.155000e+03,4.863500e+03,5.103750e+03,4.380000e+02,33954.250000,1.106950e+04,36269.250000,4.983000e+03,4.688500e+03,259.250000,4.000000
50%,2016.0,29158.000000,3.131500e+03,1.099250e+04,1.214750e+04,7.044000e+03,38780.000000,2.582150e+04,41373.000000,1.147600e+04,1.092800e+04,623.000000,4.900000
75%,2016.0,45018.500000,9.654750e+03,2.960925e+04,3.463050e+04,2.211550e+04,44995.000000,6.734300e+04,48074.750000,3.142950e+04,2.995425e+04,1649.500000,6.100000
max,2016.0,56045.000000,2.464364e+06,3.434308e+06,6.357376e+06,2.123122e+06,224366.000000,1.015056e+07,126198.000000,5.041430e+06,4.776678e+06,264752.000000,24.100000

In [27]:
dfd.sort_values(by='population')['population']

5262         115.0
5230         294.0
5222         428.0
3238         469.0
3234         470.0
3186         498.0
3346         505.0
3344         616.0
4994         660.0
3304         664.0
3220         685.0
530          689.0
3320         691.0
3532         692.0
3400         722.0
3236         724.0
5224         752.0
498          755.0
3984         784.0
474          787.0
3332         795.0
3342         797.0
3412         803.0
5272         815.0
3154         815.0
5404         818.0
3424         828.0
1056         854.0
3314         891.0
5354         916.0
           ...
4052     1269998.0
660      1323598.0
3632     1365857.0
622      1381627.0
664      1453768.0
3578     1468976.0
3676     1494334.0
376      1513260.0
4506     1574765.0
2372     1594314.0
310      1653236.0
3634     1662164.0
2546     1756598.0
578      1917122.0
4990     1927747.0
394      1931575.0
5400     2021746.0
380      2137131.0
5750     2155962.0
3418     2156724.0
3654     2356044.0
374      2386522.0
5074     2587462.0
3620     2650859.0
368      3177703.0
382      3317200.0
146      4233383.0
5162     4617041.0
1142     5231356.0
346     10150558.0
Name: population, Length: 3046, dtype: float64

In [28]:
10000000/115

86956.52173913043

In [29]:
10000000/300

33333.333333333336

In [ ]:
# d = {1:5, 2:2, 3:1, 4:3, 5:3}
l = df['Month'].map(d)
df = pd.DataFrame({col: np.repeat(df[col], l) for col in df.columns}, columns=df.columns)